/* This boilerplate is based in ITCSS and SMACSS Boilerplate URI: https://gitlab.com/2062nandes/nandes-boilerplate Author: Fernando Averanga Aruquipa Author URI: nandes.ingssistemas@gmail.com Description: This boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate */
*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1200px; margin-left: auto; margin-right: auto; width: 100%; }

.item { margin: 0; padding-left: .9375em; padding-right: .9375em; width: 100%; }

.item.container { padding-left: 0; padding-right: 0; }

/*# sourceMappingURL=styles.css.map */
