doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    title Nandes-Boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name='description', content='Nandes-Boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate.')
    meta(property="og:title" content="Nandes-Boilerplate")
    meta(property="og:description" content="Nandes-Boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate.")  
    meta(name='author', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="css/styles.css")
  body
    block main
    script(src="js/scripts.js")
